// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-grafico{
  width: 80%;
  height: 300px;
}

.form-group label{
  color: #777777;
}

.container-dados{
  position: absolute;
  top: 100px;
}

.container-dados .currency{
  font-weight: bold;
  color: blue;
}

.container-dados .ema{
  font-weight: bold;
  color: red;
}

.container-botoes{
  height: 39px;
}

.container-grafico-stock{
  width: 80%;
  height: 300px;
  margin-top: 20px;
}

.well{
  margin-bottom: 0px;
}

.btn-default{
  border-top-style: hidden;
  border-top-width: 0px;
  background-color: whitesmoke;
}